<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form API</title>
</head>
<body style="background-image:
url(https://i.pinimg.com/originals/2c/08/92/2c08922bb4664c79d4d157cb87c723d6.jpg);">
<form align="center">
    <fieldset>
        <legend><h2 style="color:maroon;">Employee Details</h2></legend>
        <form method="POST" action="">
            {% csrf_token %}
            <table align="center">
                {{form}}
                <br>
                <tr>
                    <td><center><input type="submit" value="submit"></center></td>
                </tr>
            </table>

            <br>
            <br>
            <br>
            <br>
            <br>
            <center><p> &copy;Itvedant </p></center>
            
        </form>
    </fieldset>
</form>
</body>
</html>